<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Vet</title>
</head>
<body>
<h1>Edit Vet</h1>
<!-- /* @thymesVar id="vet" type="xyz.haff.petclinic.models.Vet" */ -->
<form th:object="${vet}" th:action="@{/vets/edit/}" method="post">
  <input type="hidden" th:field="*{id}"/>
  <input th:field="*{firstName}">
  <input th:field="*{lastName}">
  <select id="type" th:field="*{specialty}">
    <option th:each="specialty : ${T(xyz.haff.petclinic.models.Specialty).values()}" th:value="${specialty.name()}" th:text="${specialty}"></option>
  </select>
  <input type="submit">
</form>
</body>
</html>