<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:with="title=${!#strings.isEmpty(owner.firstName)} ? |${owner.firstName} ${owner.lastName}| : #{owner}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Owner</title>
</head>
<body>
<!-- TODO: Rename to view -->
<h1 th:text="${title}">Owner</h1>
<!-- /* @thymesVar id="owner" type="xyz.haff.models.Owner" */ -->
<form th:object="${owner}" method="post">
    <div>
        <label for="firstName" th:text="#{first_name}"></label>
        <input id="firstName" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div>
        <label for="lastName" th:text="#{last_name}"></label>
        <input id="lastName" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <button type="submit" th:text="#{submit}"></button>
    <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></p>
</form>

<div th:if="!${owner.isNew()}">
    <h2 th:text="#{pets}">Pets</h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{name}">Name</th>
            <th th:text="#{type}">Type</th>
            <th th:text="#{birthdate}">Birthdate</th>
            <th th:text="#{view}">View</th>
        </tr>
        </thead>
        <tr th:each="pet : ${owner.pets}">
            <td th:text="${pet.name}">Name</td>
            <td th:text="${pet.type}">Type</td>
            <td th:text="${pet.birthDate}">Birthdate</td>
            <td><a th:text="#{view}" th:href="@{|/owners/${owner.id}/pets/${pet.name}|}">View</a></td>
        </tr>
    </table>
    <a th:text="#{add_new}" th:href="@{|/owners/${owner.id}/add_pet|}">Add new</a>
</div>
</body>
</html>