<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="#{owners}">Owners</title>
</head>
<body>

<main layout:fragment="content">
    <h1 class="display-4 text-center" th:text="#{owners}">Owners</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{name}">Name</th>
            <th scope="col" th:text="#{delete}">Delete</th>
            <th scope="col" th:text="#{view}">View</th>
            <th scope="col" th:text="#{edit}">Edit</th>
        </tr>
        </thead>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.personalData.fullName}">Full name</td>
            <td><a th:href="@{|/owners/${owner.id}/delete|}"><i class="fas fa-times"></i></a></td>
            <td><a th:href="@{|/owners/${owner.id}|}"><i class="fas fa-eye"></i></a></td>
            <td><a th:href="@{|/owners/${owner.id}/update|}"><i class="fas fa-pencil-alt"></i></a></td>
        </tr>
    </table>


    <a class="btn btn-primary" th:text="#{add_new}" th:href="@{/owners/create}"></a>
</main>
</body>
</html>