<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{owners}">Owners</title>
</head>
<body>
<h1 th:text="#{owners}">Owners</h1>

<table>
    <thead>
        <th th:text="#{name}">Name</th>
        <th th:text="#{delete}">Delete</th>
        <th th:text="#{view}">View</th>
        <th>Edit</th> <!-- TODO: Edit translation -->
    </thead>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.personalData.fullName}">Full name</td>
        <td><a th:href="@{|/owners/${owner.id}/delete|}" th:text="#{delete}">Delete</a></td> <!-- TODO: FA icon pencil -->
        <td><a th:href="@{|/owners/${owner.id}|}" th:text="#{view}">View</a></td> <!-- TODO: FA icon eye -->
        <td><a th:href="@{|/owners/${owner.id}/update|}">Edit</a></td> <!-- TODO: Translation -->
    </tr>
</table>


<a th:text="#{add_new}" th:href="@{/owners/create}"></a>
</body>
</html>