<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
</head>
<body>

<main layout:fragment="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" th:text="#{name}">Name</th>
                <th th:replace="fragments/actions :: tableHeaders"></th>
            </tr>
        </thead>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.personalData.fullName}">Full name</td>
            <td th:replace="fragments/actions :: actionCells(${owner.personalData.fullName()}, 'owners', ${owner.id})"></td>
        </tr>
    </table>

    <a class="btn btn-primary" th:text="#{add_new}" th:href="@{/owners/create}"></a>

    <div th:replace="fragments/actions.html :: deleteModal"></div>
</main>
</body>
</html>