<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{new_owner}">New owner</title>
</head>
<body>
<h1 th:text="#{new_owner}">New Owner</h1>

<form th:object="${registrationForm}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

  <div>
    <label for="firstName" th:text="#{first_name}">First name</label>
    <input type="text" id="firstName" th:field="*{firstName}"/>
  </div>
  <div>
    <label for="lastName" th:text="#{last_name}">Last name</label>
    <input type="text" id="lastName" th:field="*{lastName}"/>
  </div>
  <div>
    <label for="username" th:text="#{username}">Username</label>
    <input type="text" id="username" th:field="*{username}"/>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
  </div>
  <div>
    <!-- TODO: Password type, repeat password -->
    <label for="password" th:text="#{password}">Password</label>
    <input type="text" id="password" th:field="*{password}"/>
  </div>
  <div>
    <input type="submit" th:value="#{submit}"/>
  </div>
  <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></p>
</form>

</body>
</html>