<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${owner.personalData.fullName()}">Name</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="display-4" th:text="${owner.personalData.fullName()}">Name</h1>

    <div th:replace="fragments/views :: showElement(#{username}, ${owner.personalData.user.username})">Username</div>
    <div th:replace="fragments/views :: showElement('Role', ${owner.personalData.user.role})">Role</div>
    <a class="btn btn-primary my-3" th:text="#{edit}" th:href="@{|/owners/${owner.id}/update|}"></a>

    <h2 th:text="#{pets}">Pets</h2>
    <table th:replace="fragments/tables :: petList(${owner.pets})"></table>
    <a class="btn btn-primary" th:text="#{add_new}" th:href="@{|/owners/${owner.id}/pets/create|}">Add new</a>

    <div th:replace="fragments/actions :: deleteModal"></div>
</main>
</body>
</html>