<!DOCTYPE html>
<!-- /* @thymesVar id="petForm" type="xyz.haff.petclinic.forms.PetForm" */ -->
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:with="title=${!#strings.isEmpty(petForm.name)} ? ${petForm.name} : #{pet}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Pet</title>
</head>
<body>
<h1 th:text="${title}">Edit Pet</h1>

<form th:object="${petForm}" method="post">
    <div>
        <label for="name" th:text="#{name}">Name</label>
        <input id="name" type="text" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
    </div>
    <div>
        <label for="birthdate" th:text="#{birthdate}">Birth Date</label>
        <input id="birthdate" type="date" th:field="*{birthDate}"/>
        <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></p>
    </div>
    <div>
        <label for="type" th:text="#{type}"></label>
        <select id="type" th:field="*{type}">
            <option th:text="#{selector}" th:value="null" th:selected="${petForm.type == null}"></option>
            <option th:each="type : ${T(xyz.haff.petclinic.models.PetType).values()}" th:value="${type.name()}"
                    th:text="${type}"></option>
        </select>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
    </div>
    <button type="submit" th:text="#{submit}"></button>
</form>
</body>
</html>
