<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
</head>
<body>
<h1>Pets</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Birth Date</th>
      <th>Owner</th>
      <th>Visits</th>
    </tr>
  </thead>

  <tr th:each="pet : ${pets}">
    <!--/*@thymesVar id="pet" type="xyz.haff.petclinic.models.Pet"*/-->
    <td><a th:text="${pet.id}" th:href="@{'/pets/' + ${pet.id} + '/edit'}"></a></td>
    <td th:text="${pet.name}"></td>
    <td th:text="${pet.type}"></td>
    <td th:text="${pet.birthDate}"></td>
    <td><a th:text="${pet.owner.firstName} + ' ' + ${pet.owner.lastName}" th:href="@{'/owners/' + ${pet.owner.id} + '/edit'}"></a></td>
    <td><a th:href="@{'/pets/' + ${pet.id} + '/visits'}">Visits</a></td>
  </tr>
</table>
</body>
</html>