<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
</head>
<body>
<main layout:fragment="content">
    <h1     th:with="principal = ${#authentication.getPrincipal()}"
            th:text="#{unauthorized(${principal instanceof T(java.lang.String) ? principal : principal.getUser().getUsername()})}">Unauthorized</h1>
</main>
</body>
</html>