<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{owner}">Owner</title>
</head>
<body>
<h1 th:text="#{owner}">Owner</h1>
<!-- /* @thymesVar id="owner" type="xyz.haff.petclinic.models.Owner" */ -->
<form th:object="${owner}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input th:field="*{firstName}"/>
    <input th:field="*{lastName}"/>
    <button type="submit" th:text="#{submit}"></button>
</form>
</body>
</html>