<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<h1>Owners</h1>

<table>
  <thead>
    <tr>
      <th>UUID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Pets</th>
      <th>Add Pet</th>
    </tr>
  </thead>
  <tr th:each="owner : ${owners}">
    <td><a th:text="${owner.id}" th:href="@{'/owners/' + ${owner.id} + 'edit'}"></a></td>
    <td th:text="${owner.firstName}"></td>
    <td th:text="${owner.lastName}"></td>
    <td>
      <span th:each="pet, i: ${owner.pets}">
        <a th:text="${pet.name}" th:href="@{'/pets/' + ${pet.id} + '/edit'}"></a>
        <span th:if="!${i.last}" th:text="','"></span>
      </span>
    <td><a th:href="@{'/owners/' + ${owner.id} + '/add_pet/'}">Add pet</a></td>
  </tr>
</table>
<a th:href="@{/owners/create}">Add new</a>
</body>
</html>