<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="formSubmission">
    <div class="mb-2">
        <input class="btn btn-primary" type="submit" th:value="#{submit}"/>
    </div>
    <div class="text-danger" th:if="${#fields.hasErrors('global')}">
        <small th:errors="*{global}"></small>
    </div>
</div>

<div th:fragment="formInputStacked (type, field, label)">
    <div class="mb-3">
        <label class="text-muted" th:for="${field}" th:text="#{${label}}"></label>
        <div th:replace="this :: inputField(type=${type}, field=${field})"></div>
        <div th:replace="this :: feedback(${field})"></div>
    </div>
</div>
<div th:fragment="formInputAligned (type, field, label)">
    <div class="row mb-3 align-items-center">
        <label class="col-sm-3 col-form-label text-muted" th:for="${field}" th:text="#{${label}}"></label>
        <div class="col-sm-9">
            <div th:replace="this :: inputField(type=${type}, field=${field})"></div>
            <div th:replace="this :: feedback(${field})"></div>
        </div>
    </div>
</div>

<div
        th:fragment="errorAlert"
        th:if="${#fields.hasErrors('*')}"
        class="alert alert-danger alert-dismissible position-fixed fixed-top col-md-8 col-lg-6 mx-auto text-center fade show pb-0"
        role="alert"
        id="errorAlert"
>
    <p th:text="#{form_error_alert}"></p>
    <button type="button" class="btn-close float-right" data-bs-dismiss="alert" aria-label="Close"></button>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            setTimeout(function() {
                var alert = document.getElementById("errorAlert");
                alert.style.opacity = 0;
                alert.style.transition = "all 1s";
            }, 2500)
        })
    </script>
</div>


<div
        th:fragment="feedback(field)"
        th:errors="*{__${field}__}"
        th:if="${#fields.hasErrors(field)}"
        class="invalid-feedback"
></div>

<input th:fragment="inputField(type, field)"
       th:type="${type}"
       class="form-control"
       th:id="${field}"
       th:field="*{__${field}__}"
       th:classappend="${#fields.hasErrors('*') and !#fields.hasErrors(field)} ? 'is-valid' : ''"
       th:errorclass="is-invalid"/>

<div th:fragment="personalData">
    <div class="row">
        <div class="col-lg-6">
            <div th:insert="fragments/forms :: formInputStacked ('text', 'firstName', 'first_name')"></div>
        </div>
        <div class="col-lg-6">
            <div th:insert="fragments/forms :: formInputStacked ('text', 'lastName', 'last_name')"></div>
        </div>
    </div>
</div>
<div th:fragment="userData">
    <div class="mb-4">
        <div th:insert="fragments/forms :: formInputAligned ('text', 'username', 'username')"></div>
    </div>
    <div th:insert="fragments/forms :: formInputAligned ('password', 'password', 'password')"></div>
    <div th:insert="fragments/forms :: formInputAligned ('password', 'repeatPassword', 'repeat_password')"></div>
</div>
</body>
<head>
    <meta charset="UTF-8">
</head>
</html>