<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<table th:fragment="petTable(pets)" class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{name}">Name</th>
        <th scope="col" th:text="#{birthdate}">Birthdate</th>
        <th scope="col" th:text="#{type}">Type</th>
        <th th:replace="fragments/actions :: tableHeaders">
    </tr>
    </thead>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}">Name</td>
        <td th:text="${pet.birthDate}">Birthdate</td>
        <td th:text="#{${pet.type.name.toLowerCase()}}">Type</td>
        <td th:replace="fragments/actions :: actionCells(${pet.name}, 'pets', ${pet.id})">
    </tr>
</table>

<div th:fragment="visitAccordion(visits)" class="accordion" id="visitsAccordion">
    <div
            th:each="visit, i : ${visits}"
            class="accordion-item"
    >
        <h2 class="accordion-header" th:id="'visitHeader-' + ${i.index}">
            <button
                    class="accordion-button collapsed"
                    type="button"
                    aria-expanded="false"
                    th:attr="data-bs-toggle='collapse', data-bs-target='#visitBody-' + ${i.index}, aria-controls='visitBody' + ${i.index}"
            >
                <div class="row">
                    <div class="col fw-bold" th:text="${visit.getDateTime}">Visit</div>
                    <div class="col" th:text="${visit.getReason}"></div>
                </div>
            </button>
        </h2>
        <div
                th:id="'visitBody-' + ${i.index}"
                class="accordion-collapse collapse"
                th:attr="aria-labelledby=|visitHeader-${i.index}|"
        >
            <div class="accordion-body">
                <div th:replace="fragments/views :: showElement(#{vet}, ${visit.vet.personalData.fullName})"></div>
                <div th:replace="fragments/views :: showElement(#{reason}, ${visit.reason})"></div>
                <div th:replace="fragments/views :: showElement(#{comment}, ${visit.vetComment})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>