<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="personalData">
    <div class="row mb-3">
        <div class="col-lg-6">
            <label for="firstName" th:text="#{first_name}">First name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div class="col-lg-6">
            <label for="lastName" th:text="#{last_name}">Last name</label>
            <input class="form-control" type="text" id="lastName" th:field="*{lastName}"/>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
    </div>
</div>
<div th:fragment="userData">
    <div class="row mb-4">
        <label class="col-sm-2 col-form-label" for="username" th:text="#{username}">Username</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="username" th:field="*{username}"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        </div>
    </div>
    <div class="row mb-1">
        <label class="col-sm-2 col-form-label" for="password" th:text="#{password}">Password</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="password" th:field="*{password}"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
    </div>
    <div class="row mb-3 align-items-center">
        <label class="col-sm-2 col-form-label" for="repeatPassword" th:text="#{repeat_password}">Repeat Password</label>
        <div class="col-sm-10">
            <input class="form-control" type="password" id="repeatPassword" th:field="*{repeatPassword}"/>
            <p th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></p>
        </div>
    </div>
</div>
</body>
</html>