<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="personalData">
    <div class="row">
        <div class="col-lg-6">
            <div th:insert="fragments/forms :: formInputStacked ('text', 'firstName', 'first_name')"></div>
        </div>
        <div class="col-lg-6">
            <div th:insert="fragments/forms :: formInputStacked ('text', 'lastName', 'last_name')"></div>
        </div>
    </div>
</div>
<div th:fragment="userData">
    <div class="mb-4">
        <div th:insert="fragments/forms :: formInputAligned ('text', 'username', 'username')"></div>
    </div>
    <div th:insert="fragments/forms :: formInputAligned ('text', 'password', 'password')"></div>
    <div th:insert="fragments/forms :: formInputAligned ('text', 'repeatPassword', 'repeat_password')"></div>
</div>
</body>
</html>