<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<table th:fragment="petList(pets)" class="table">
    <thead>
    <tr>
        <th scope="col" th:text="#{name}">Name</th>
        <th scope="col" th:text="#{birthdate}">Birthdate</th>
        <th scope="col" th:text="#{type}">Type</th>
        <th th:replace="fragments/actions :: tableHeaders">
    </tr>
    </thead>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet.name}">Name</td>
        <td th:text="${pet.birthDate}">Birthdate</td>
        <td th:text="#{${pet.type.name.toLowerCase()}}">Type</td>
        <td th:replace="fragments/actions :: actionCells(${pet.name}, 'pets', ${pet.id})">
    </tr>
</table>
</body>
</html>