#logo {
    transform: translateY(0) scale(1);
    text-shadow: none;
    transition: transform 150ms ease-in-out, text-shadow 150ms ease-in-out;
}

#logo:hover {
    transform: translateY(-2px) scale(1.02);
    text-shadow: 2px 2px #BEBEBE;
    transition: transform 150ms ease-in-out, text-shadow 150ms ease-in-out;
}