<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic</title>
</head>
<body>
<h1 th:text="${name} ? |#{welcome}, ${name}| : #{welcome}"></h1>
<ul>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" th:text="#{login}">Login</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{logout}">Logout</a></li>
    <li sec:authorize="hasAuthority('VET')"><a th:href="@{/owners}" th:text="#{owners}">Owners</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}" th:text="#{sign_up}">Sign up</a></li>
</ul>
</body>
</html>