<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
<!-- TODO: Any way to merge my bootstrap configuration for every button into a single class? -->
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid row">
            <div class="col">
                <a class="navbar-brand" th:href="@{/}">Pet Clinic</a>
            </div>
            <div class="col d-flex flex-row">
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   th:classappend="${route.name == 'OWNERS' ? 'active' : ''}"
                   sec:authorize="hasAuthority('VET')"
                   th:href="@{/owners}"
                   th:text="#{owners}">Owners</a>
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   th:classappend="${route.name == 'VETS' ? 'active' : ''}"
                   sec:authorize="hasAuthority('VET')"
                   th:href="@{/vets}"
                   th:text="#{vets}">Vets</a>
            </div>
            <div id="session-nav" class="col-2 d-flex flex-row justify-content-end px-0">
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/owners/create}"
                   th:text="#{sign_up}">Sign up</a>
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/login}" th:text="#{login}">Login</a>
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   th:classappend="${route.name == 'PROFILE' ? 'active' : ''}"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/profile}"
                   th:text="#{your_profile}">Your profile</a>
                <a class="nav-link btn btn-outline-info text-secondary ms-2 text-nowrap"
                   sec:authorize="isAuthenticated()"
                   th:href="@{/logout}"
                   th:text="#{logout}">Logout</a>
            </div>
        </div>
</nav>
<main layout:fragment="content">
    <p>Page content goes here</p>
</main>
<script src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</body>
</html>