<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title>Pet Clinic</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}">
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div id="logo" class="d-inline-block">
            <a class="navbar-brand" th:href="@{/}">Pet Clinic</a>
        </div>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-content"
                aria-controls="navbar-content"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbar-content">
            <ul class="navbar-nav d-flex flex-col flex-lg-row align-items-end align-items-lg-baseline justify-content-end px-0 ms-auto me-2">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'OWNERS' ? 'active' : ''}"
                       sec:authorize="hasAuthority('VET')"
                       th:href="@{/owners}"
                       th:text="#{owners}">Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'VETS' ? 'active' : ''}"
                       sec:authorize="hasAuthority('VET')"
                       th:href="@{/vets}"
                       th:text="#{vets}">Vets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/owners/create}"
                       th:text="#{sign_up}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'PROFILE' ? 'active' : ''}"
                       sec:authorize="isAuthenticated()"
                       th:href="@{/profile}"
                       th:text="#{your_profile}">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info text-secondary ms-3 text-nowrap py-1 px-2"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/login}"
                       th:text="#{login}">Login</a>
                </li>

                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="nav-link btn btn-outline-info text-secondary ms-3 text-nowrap py-1 px-2"
                                sec:authorize="isAuthenticated()"
                                th:text="#{logout}">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<div class="container">
    <main layout:fragment="content">
        <p>Page content goes here</p>
    </main>
</div>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</body>
</html>