<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Pet Clinic</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/flag-icon-css/3.5.0/css/flag-icon.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light mb-2">
    <div class="container-fluid">
        <div id="logo" class="d-inline-block">
            <a class="navbar-brand" th:href="@{/}">Pet Clinic</a>
        </div>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-content"
                aria-controls="navbar-content"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbar-content">
            <ul
                    class="navbar-nav d-flex flex-col flex-md-row align-items-end align-items-md-center justify-content-end px-0 ms-auto me-2"
                    style="position: relative;"
            >
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'OWNERS' ? 'active' : ''}"
                       sec:authorize="hasAuthority('VET')"
                       th:href="@{/owners}"
                       th:text="#{owners}">Owners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'VETS' ? 'active' : ''}"
                       sec:authorize="hasAuthority('VET')"
                       th:href="@{/vets}"
                       th:text="#{vets}">Vets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'PETS' ? 'active' : ''}"
                       sec:authorize="hasAuthority('OWNER')"
                       th:href="@{/pets}"
                       th:text="#{pets}">Pets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${route.name == 'PROFILE' ? 'active' : ''}"
                       sec:authorize="isAuthenticated()"
                       th:href="@{/profile}"
                       th:text="#{your_profile}">Your profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <span th:replace="${lang != null} ? ~{this :: ${lang}} : ~{this :: en}"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute;">
                        <li><a class="dropdown-item" href="?lang=en"><span th:replace="this :: en"></span></a></li>
                        <li><a class="dropdown-item" href="?lang=es"><span th:replace="this :: es"></span></a></li>
                        <li><a class="dropdown-item" href="?lang=de"><span th:replace="this :: de"></span></a></li>
                        <li><a class="dropdown-item" href="?lang=fr"><span th:replace="this :: fr"></span></a></li>
                        <li><a class="dropdown-item" href="?lang=eo"><span th:replace="this :: eo"></span></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-info text-secondary ms-3 text-nowrap py-1 px-2"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/login}"
                       th:text="#{login}">Login</a>
                </li>

                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button class="nav-link btn btn-outline-info text-secondary ms-3 text-nowrap py-1 px-2"
                                sec:authorize="isAuthenticated()"
                                th:text="#{logout}">Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-0 col-lg-3"></div>
        <div class="col">
            <h1 class="display-4 mb-4" th:text="${title}">Title</h1>
            <main layout:fragment="content" class="col">
                <p>Page content goes here</p>
            </main>
        </div>
        <div class="col-sm-0 col-lg-3"></div>
    </div>
</div>
<div th:remove="all">
    <span th:fragment="en"><span class="flag-icon flag-icon-gb me-1"></span>English</span>
    <span th:fragment="es"><span class="flag-icon flag-icon-es me-1"></span>Español</span>
    <span th:fragment="de"><span class="flag-icon flag-icon-de me-1"></span>Deutsch</span>
    <span th:fragment="fr"><span class="flag-icon flag-icon-fr me-1"></span>François</span>
    <span th:fragment="eo"><span class="flag-icon flag-icon-eo me-1"></span>Esperanto</span>
</div>
<script th:src="@{/webjars/bootstrap/5.1.2/js/bootstrap.min.js}"></script>
</body>
</html>