<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${pet.name}">Pet</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="display-4 text-center" th:text="${pet.name}">Pet</h1>

    <p th:text="|#{name}: ${pet.name}|">Name</p>
    <p th:text="|#{birthdate}: ${pet.birthDate}|">Birthdate</p>
    <p th:text="|#{type}: ${pet.type}|">Type</p>

    <a th:text="#{edit}" th:href="@{|/pets/${pet.id}/update|}">Edit</a>
</main>
</body>
</html>