<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${pet.name}">Pet</title>
</head>
<body>
<main layout:fragment="content">
    <h1 class="display-4" th:text="${pet.name}">Pet</h1>

    <div>
        <div th:replace="fragments/views :: showElement(#{birthdate}, ${pet.birthDate})">Birthdate</div>
        <div th:replace="fragments/views :: showElement(#{type}, #{${pet.type.name.toLowerCase()}})">Type</div>
        <a class="btn btn-primary mt-3" th:text="#{edit}" th:href="@{|/pets/${pet.id}/update|}">Edit</a>
    </div>

    <h2 th:text="#{visits}" class="mt-4">Visits</h2>
    <div th:replace="fragments/lists :: visitAccordion(${pet.visits})"></div>
</main>
</body>
</html>