<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:with="title=${!#strings.isEmpty(vet.firstName)} ? |${vet.firstName} ${vet.lastName}| : #{vet}">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Vet</title>
</head>
<body>
<h1 th:text="${title}">Vet</h1>
<!-- /* @thymesVar id="vet" type="xyz.haff.petclinic.models.Vet" */ -->
<form th:object="${vet}" method="post">

  <div>
    <label for="firstName" th:text="#{first_name}"></label>
    <input id="firstName" th:field="*{firstName}">
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
  </div>
  <div>
    <label for="lastName" th:text="#{last_name}"></label>
    <input id="lastName" th:field="*{lastName}">
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
  </div>

  <div>
    <label for="type" th:text="#{type}"></label>
    <select id="type" th:field="*{specialty}">
      <option th:text="#{selector}" th:value="null" th:selected="${vet.specialty == null}"></option>
      <option th:each="specialty : ${T(xyz.haff.petclinic.models.Specialty).values()}" th:value="${specialty.name()}" th:text="${specialty}"></option>
    </select>
    <p th:if="${#fields.hasErrors('specialty')}" th:errors="*{specialty}"></p>
  </div>
  <input type="submit" th:text="#{submit}">

  <p th:if="${#fields.hasGlobalErrors}" th:errors="*{global}"></p>
</form>

<div th:if="!${vet.isNew()}">
  <h2 th:text="#{visits}">Visits</h2>
  <table>
    <thead>
      <tr>
        <th th:text="#{date}">Date</th>
        <th th:text="#{pet}">Pet</th>
        <th th:text="#{reason}">Reason</th>
      </tr>
    </thead>
    <!-- TODO: Would be cool to put a link to the pet here, but turns out it's pretty hard with my current setting with mongo -->
    <tr th:each="visit : ${visits}">
      <td th:text="${visit.T2.date}">Date</td>
      <td th:text="${visit.T1.name}">Pet</td>
      <td th:text="${visit.T2.reason}">Reason</td>
    </tr>
  </table>
</div>
</body>
</html>
