<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{vets}">Vets</title>
</head>
<body>
<h1 th:text="#{vets}">Vets</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{first_name}">First Name</th>
    <th th:text="#{last_name}">Last Name</th>
    <th th:text="#{specialty}">Specialty</th>
    <th th:text="#{visits}">Visits</th>
  </tr>
  </thead>

  <tr th:each="vet : ${vets}">
      <!-- /* @thymesVar id="vet" type="xyz.haff.models.Vet" */ -->
    <td><a th:text="${vet.id}" th:href="@{|/vets/${vet.id}/edit|}"></a></td>
    <td th:text="${vet.firstName}"></td>
    <td th:text="${vet.lastName}"></td>
    <td th:text="${vet.specialty}"></td>
    <td><a th:href="@{|/vets/${vet.id}/visits|}" th:text="#{visits}">Visits</a></td>
  </tr>
</table>
<a th:href="@{/vets/create}" th:text="#{add_new}">Add new</a>
</body>
</html>