<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{vets}">vets</title>
</head>
<body>
<h1 th:text="#{vets}">Vets</h1>
<!-- TODO: This is more or less the same as the list owners view, see if I can dry them somehow -->
<table>
    <thead>
    <tr>
        <th th:text="#{name}">Name</th>
        <th th:text="#{specialty}">Specialty</th>
        <th th:text="#{delete}">Delete</th>
        <th th:text="#{view}">View</th>
        <th th:text="#{edit}">Edit</th>
    </tr>
    </thead>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.personalData.fullName}">Full name</td>
        <td th:text="#{${vet.specialty.name.toLowerCase()}}">Specialty</td>
        <td><a  th:if="${#authentication.getName() != vet.personalData.user.username}"
                th:href="@{|/vets/${vet.id}/delete|}"
                th:text="#{delete}"
        >Delete</a></td> <!-- TODO: FA icon pencil -->
        <td><a th:href="@{|/vets/${vet.id}|}" th:text="#{view}">View</a></td> <!-- TODO: FA icon eye -->
        <td><a th:href="@{|/vets/${vet.id}/update|}" th:text="#{edit}">Edit</a></td>
    </tr>
</table>


<a th:text="#{add_new}" th:href="@{/vets/create}"></a>
</body>
</html>