<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{visits}">Visits</title>
</head>
<body>
<h1 th:text="#{visits}">Visits</h1>

<table>
  <thead>
    <tr>
      <td th:text="#{date}">Date</td>
      <td th:text="#{pet}">Pet</td>
      <td>Vet</td>
      <td th:text="#{reason}">Reason</td>
    </tr>
  </thead>
  <tr th:each="visit : ${visits}">
    <td th:text="${visit.date}"></td>
    <td><a th:text="${visit.pet.name}" th:href="@{|/pets/${visit.pet.id}/edit|}"></a></td>
    <td><a th:text="${visit.vet.firstName} + ' ' + ${visit.vet.lastName}" th:href="@{'/vets/' + ${visit.vet.id} + '/edit'}"></a></td>
    <td th:text="${visit.reason}"></td>
  </tr>
</table>
</body>
</html>